:root {
    --pri-color: #A40F16;
    --pri02-color: #0D326F;
    --pri03-color: #C0A353;
    --white-color: #ffffff;
    --black-color: #222222;
    --black-sub-color: #444444;
    --line-color: #dddddd;
    --transition-time: 0.3s;
}

* {
    /* outline: 1px solid #000; */
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: transparent;
    border-bottom: 1px solid transparent;

    z-index: 99999;

    display: flex;
    flex-direction: column;

    transition: 0.3s;
}

/* 헤더 top */
#header_top {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

#header_top .inner>ul {
    display: flex;
    justify-content: end;
    gap: 20px;
}

#header_top .inner>ul>li>a {
    display: block;
    font-size: 14px;
    line-height: 40px;
    font-weight: 300;
    color: var(--white-color);
}

/* 헤더 bottom */
#header_bottom {
    position: relative;
}

#header_bottom>.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

#header_bottom .logo>h1>a {
    display: block;
    text-indent: -9999px;
    width: 200px;
    height: 48px;
    background: url(../images/logo_w.svg)no-repeat center center/cover;
}

#header_bottom .m_gnb_top_box {
    display: none;
}

#header_bottom .gnb>ul {
    display: flex;
    justify-content: center;
}

#header_bottom .gnb>ul>li>a {
    position: relative;
    display: block;
    font-size: 18px;
    font-weight: 700;
    line-height: 100px;
    padding: 0 30px;
    white-space: nowrap;
    color: var(--white-color);
}

#header_bottom .gnb>ul>li>a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 0;
    height: 4px;
    background: var(--pri-color);
}

#header_bottom .sub_box {
    display: none;

    position: absolute;
    top: 100px;
    left: 0;
    right: 0;

    min-height: 326px;

    background: var(--white-color);
}

#header_bottom .sub_box::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    border-right: 1px solid #ddd;
}

#header_bottom .sub_box::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #ddd;
}

#header_bottom .sub_box .sub_tit {
    position: relative;
    min-width: 400px;
    background: var(--pri-color);
}

#header_bottom .sub_box .sub_tit::before {
    content: '';
    position: absolute;
    width: 200.5px;
    height: 180px;
    bottom: 24px;
    right: 24px;
    opacity: 0.3;
    background: url(../images/sub_tit_bg.svg)no-repeat center center/cover;
}

#header_bottom .sub_box .sub_tit .txt_box {
    position: absolute;
    top: 24px;
    left: 50%;
    width: 100%;
    padding: 0 24px;
    transform: translate(-50%, 0);
}


#header_bottom .sub_box .sub_tit strong {
    display: block;
    padding: 0 0 16px 0;
    font-size: 32px;
    line-height: 32px;
    font-weight: 800;
    color: #fff;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
}

#header_bottom .sub_box .sub_tit p {
    padding: 16px 0 0 0;
    white-space: nowrap;
    font-weight: 300;
    font-size: 16px;
    line-height: 16px;
    color: #fff;
}

#header_bottom .sub_box .sub {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    border-top: 1px solid var(--line-color);
}

#header_bottom .sub_box .sub_wrap {
    display: flex;
}

#header_bottom .sub_box .sub_wrap>* {
    flex: 1;
}

#header_bottom .sub_box .sub>li {
    padding: 24px;

    border-right: 1px solid var(--line-color);
    border-bottom: 1px solid var(--line-color);
}

#header_bottom .sub_box .sub>li>a {
    display: block;
    margin: 0 0 16px 0;
    font-size: 18px;
    font-weight: 700;
    color: #333;
    white-space: nowrap;
}

#header_bottom .sub_list>li>a {
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #666;
    white-space: nowrap;
}

#header_bottom .sub_list_wrap {
    display: flex;
    flex-wrap: wrap;
}

#header_bottom .sub_list_wrap>li {
    width: 33.3333%;
}



/* 헤더 bottom util */

#header_bottom .util>ul {
    display: flex;
    align-items: center;
    gap: 20px;
}

#header_bottom .util>ul>li>a,
#header_bottom .util>ul>li>button {
    display: block;
    width: 32px;
    height: 32px;
    text-indent: -9999px;
}

#header_bottom .util>ul>.lan {
    background: url(../images/util_lan.svg)no-repeat center center/cover;
}

#header_bottom .util>ul>.search {
    background: url(../images/util_search.svg)no-repeat center center/cover;
}

#header_bottom .util>ul>.sitemap,
#header_bottom .util>ul>.m_menu_btn {
    background: url(../images/util_menu.svg)no-repeat center center/cover;
}

#header_bottom .util>ul>.m_menu_btn {
    display: none;
}

#header_bottom .m_gnb_top_box .m_menu_btn {
    background: url(../images/menu_x_btn.svg)no-repeat center center/cover;
}

#header_bottom .m_gnb_top_box .m_menu_btn>button {
    display: block;
    width: 32px;
    height: 32px;
    text-indent: -9999px;
}


/* 헤더 on */

#header.on {
    top: -41px;
    background: var(--white-color);
    border-bottom: 1px solid var(--line-color);

    transition: 0.3s;
}

#header.on #header_bottom .inner {
    height: 80px;
}

#header.on #header_bottom .logo>h1>a {
    background: url(../images/logo_p.svg)no-repeat center center/cover;
}

#header.on #header_bottom .gnb>ul>li>a {
    line-height: 80px;
    color: var(--black-color);
}

#header.on #header_bottom .util>ul>li {
    filter: invert(1);
}

/* PC 메뉴 hover 관련 */
@media(min-width: 1024px) {

    #header:hover {
        background: var(--white-color);
        border-bottom: 1px solid var(--line-color);

        transition: 0.3s;
    }

    #header:hover #header_top {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    #header:hover #header_top .inner>ul>li>a {
        font-weight: 500;
        color: var(--black-color);
    }

    #header:hover #header_bottom .logo>h1>a {
        background: url(../images/logo_p.svg)no-repeat center center/cover;
    }

    #header:hover #header_bottom .gnb>ul>li>a {
        color: var(--black-color);
    }

    #header:hover #header_bottom .util>ul>li {
        filter: invert(1);
    }

    #header_bottom .gnb>ul>li:hover>a::before {
        width: calc(100% - 60px);
        transition: 0.3s;
    }

    #header_bottom .gnb>ul>li:hover .sub_box {
        display: flex;
    }

    #header.on #header_bottom .gnb>ul>li .sub_box {
        top: 80px;
    }

    #header_bottom .sub_box .sub>li>a:hover {
        color: var(--pri-color);
        transform: translate(0, -2px);
        transition: 0.3s;
    }

    #header_bottom .sub_list>li>a:hover {
        color: var(--pri-color);
        font-weight: 500;
        transform: translate(0, -1px);
        transition: 0.3s;
    }
}

@media(max-width: 1500px) {
    #header_bottom .sub_box .sub_tit {
        min-width: 360px;
    }
}

@media(max-width: 1440px) {
    #header_bottom .logo>h1>a {
        width: 160px;
        height: 40px;
    }

    #header_bottom .gnb>ul>li>a {
        padding: 0 15px;
        font-size: 16px;
    }

    #header_bottom .gnb>ul>li:hover>a::before {
        width: calc(100% - 30px);
    }

    #header_bottom .util>ul>li>a,
    #header_bottom .util>ul>li>button {
        width: 24px;
        height: 24px;
    }

    #header_bottom .sub_box {
        min-height: 356px;
    }

    #header_bottom .sub_box .sub_tit {
        min-width: 240px;
    }

    #header_bottom .sub_box .sub_tit p {
        font-size: 14px;
        line-height: 22px;
        white-space: unset;
    }

    #header_bottom .sub_list_wrap>li {
        width: 50%;
    }

    #header_bottom .sub_list>li>a {
        font-size: 14px;
        line-height: 26px;
    }

}

@media(max-width: 1024px) {
    #header_top {
        display: none;
    }

    #header.on {
        top: unset;
    }

    .sitemap {
        display: none;
    }

    #header_bottom .util>ul>.m_menu_btn {
        display: block;
    }

    #header_bottom>.inner {
        height: 80px;
    }

    #header_bottom .gnb {
        position: fixed;
        top: 0;
        right: -100%;
        width: 80%;
        height: 100vh;
        z-index: 99999;
        background: var(--white-color);
        display: flex;
        flex-direction: column;
        transition: 0.5s;


    }

    #header_bottom .gnb.on {
        right: 0;
        transition: 0.5s;
    }

    #header_bottom .m_gnb_top_box {
        display: block;
    }

    #header_bottom .m_gnb_top_box .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 16px;
        height: 60px;
    }

    #header_bottom .m_gnb_top_box .top .m_logo {
        text-indent: -9999px;
        width: 160px;
        height: 40px;
        background: url(../images/logo_p.svg)no-repeat center center/cover;
    }

    #header_bottom .m_gnb_top_box .bottom {
        display: flex;
        align-items: center;
        gap: 16px;
        background: var(--pri-color);
        padding: 0 16px;
    }

    #header_bottom .m_gnb_top_box .bottom .login {
        margin: 0 0 0 auto;
    }

    #header_bottom .m_gnb_top_box .bottom>li>a {
        display: block;
        font-size: 14px;
        font-weight: 500;
        line-height: 48px;
        color: var(--white-color);
    }


    #header_bottom .gnb>ul {
        flex-direction: column;
        width: 200px;
    }

    #header_bottom .gnb>ul>li {
        padding: 0 0 0 16px;
    }

    #header_bottom .gnb>ul>li>a {
        padding: 0;
        font-size: 18px;
        line-height: 56px;
        color: var(--black-sub-color);
    }

    #header.on #header_bottom .gnb>ul>li>a {
        line-height: 56px;
        color: var(--black-sub-color);
    }

    #header_bottom .gnb>ul>li>a::before {
        content: none;
    }

    #header_bottom .sub_box .sub_tit {
        display: none;
    }

    #header_bottom .sub_box {
        display: none;
        position: absolute;
        top: 108px;
        right: 0;
        left: unset;
        width: calc(100% - 200px);
        height: 100%;
        background: #f9f9f9;
    }

    #header_bottom .sub_box.on {
        display: block;
    }

    #header_bottom .sub_box::before {
        content: none;
    }

    #header_bottom .sub_box .sub {
        display: flex;
        flex-direction: column;
    }

    #header_bottom .sub_box .sub>li {
        padding: 0;
        border: none;

    }

    #header_bottom .sub_box .sub>li>a {
        padding: 0 0 0 16px;
        margin: 0;
        line-height: 55px;
        color: var(--black-sub-color);
        border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
    }

    #header_bottom .sub_box .sub_list {
        display: none;
        overflow-y: auto;
        max-height: 400px;
        border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
        background: #eee;
    }

    #header_bottom .sub_list_wrap>li {
        width: 100%;
    }

    #header_bottom .sub_box .sub_list>li>a {
        font-size: 16px;
        line-height: 48px;
        padding: 0 0 0 24px;
        /* border-bottom: 1px dashed rgba(0, 0, 0, 0.1); */
    }

    #header_bottom .sub_box .sub_list>li:last-child>a {
        border-bottom: none;
    }
}

@media(max-width: 768px) {


    #header_bottom>.inner {
        height: 60px;
    }

    #header_bottom .logo>h1>a {
        width: 140px;
        height: 34px;
    }

    #header_bottom .m_gnb_top_box .top .m_logo {
        width: 140px;
        height: 34px;
    }

    #header_bottom .m_gnb_top_box .m_menu_btn>button {
        width: 24px;
        height: 24px;
    }

    #header_bottom .util>ul {
        gap: 10px;
    }

    #header_bottom .gnb>ul {
        width: 180px;
    }

    #header_bottom .sub_box {
        width: calc(100% - 180px);
    }




}

@media(max-width: 480px) {
    #header_bottom .m_gnb_top_box .bottom>li>a {
        line-height: 40px;
    }

    #header_bottom .gnb {
        width: 100%;
    }

    #header_bottom .gnb>ul {
        width: 120px;
    }

    #header_bottom .gnb>ul>li>a {
        font-size: 16px;
        line-height: 48px;
    }

    #header_bottom .sub_box {
        top: 100px;
        width: calc(100% - 120px);
    }

    #header_bottom .sub_box .sub>li>a {
        font-size: 16px;
        line-height: 47px;
    }

    #header_bottom .sub_box .sub_list>li>a {
        font-size: 14px;
        line-height: 40px;
    }

}


/* 메인 비주얼 */
.main_visual {
    position: relative;
}

.main_visual .itm {
    position: relative;
    height: 100vh;
}

.main_visual .itm .slg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1530px;
    width: 100%;
}

.main_visual .itm .slg strong {
    display: block;
    margin: 0 0 24px 0;
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
    color: var(--white-color);
    text-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
}

.main_visual .itm .slg p {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: var(--white-color);
}

.main_visual .itm01 {
    background: url(../images/main_visual_slide01.jpg)no-repeat center center/cover;
}

.main_visual .itm02 {
    background: url(../images/main_visual_slide01.jpg)no-repeat bottom center/cover;
    background: #999;
}

.main_visual .itm03 {
    background: url(../images/main_visual_slide01.jpg)no-repeat bottom center/cover;
    background: #666;
}

.main_visual .itm04 {
    background: url(../images/main_visual_slide01.jpg)no-repeat bottom center/cover;
    background: #333;
}

/* 메인 비주얼 네비게이션 */
.main_visual_nav {
    position: absolute;
    z-index: 9;
    top: calc(50% + 140px);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1530px;
    height: 18px;

    display: flex;
    align-items: center;
}

.main_visual_nav .page_num {
    display: flex;
    align-items: center;
    gap: 24px;
}

.main_visual_nav .page_num span {
    display: block;
    min-width: 24px;
    text-align: left;
    font-size: 18px;
    line-height: 18px;
    color: var(--white-color);
}

.main_visual_nav .nav_line {
    position: static !important;
    width: 240px;
    height: 2px;
    background: rgba(255, 255, 255, 0.5);
}

.main_visual_nav .nav_line .swiper-pagination-progressbar-fill {
    background: var(--white-color);
}

.main_visual_nav .arrow_box {
    margin: 0 0 0 16px;
    gap: 32px;
}

.main_visual_nav .arrow_box button {
    position: relative;
    width: 10px;
    height: 18px;
    text-indent: -9999px;
}

.main_visual_nav .arrow_box>button::before {
    content: none;
}

.main_visual_nav .arrow_box .arrow_prev {
    background: url(../images/main_slide_prev.svg)no-repeat center center/cover;
}

.main_visual_nav .arrow_box .arrow_next {
    background: url(../images/main_slide_next.svg)no-repeat center center/cover;
}

/* 메인 비주얼 스크롤 */
.main_visual .scroll {
    position: absolute;
    bottom: 4rem;
    left: 50%;
    transform: translate(-50%, 50px);
    text-align: center;
    z-index: 9;
    transition: 800ms;
}

.main_visual .scroll .scroll_ani {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 8px 0;
}

.main_visual .scroll .scroll_ani span {
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #fff;
    margin: 0 3.5px;

    animation: upDown 1.5s ease-in-out infinite;
    opacity: 0;
}

.main_visual .scroll .scroll_ani span:nth-child(1) {
    animation-delay: 0.3s;
}

.main_visual .scroll .scroll_ani span:nth-child(2) {
    animation-delay: 0.5s;
}

.main_visual .scroll .scroll_ani span:nth-child(3) {
    animation-delay: 0.7s;
}

.main_visual .scroll .txt {
    font-size: 10px;
    line-height: 10px;
    font-weight: 700;
    font-family: "Montserrat";
    color: var(--white-color);
}



.main_visual .br_m {
    display: none;
}

@keyframes upDown {
    0% {
        opacity: 0;
        transform: translateY(-15px);
    }

    70% {
        opacity: 1;
        transform: translateY(18px);
    }

    100% {
        opacity: 1;
        transform: translateY(18px);
    }
}

@media(max-width: 1690px) {
    .main_visual .itm .slg {
        padding: 0 40px;
    }

    .main_visual_nav {
        padding: 0 40px;
    }
}


@media(max-width: 1024px) {
    .main_visual .itm .slg strong {
        font-size: 32px;
        line-height: 40px;
    }

    .main_visual .itm .slg p {
        font-size: 16px;
        line-height: 16px;
    }

    .main_visual_nav {
        top: calc(50% + 120px);
    }

    .main_visual_nav .nav_line {
        max-width: 160px;
    }
}

@media(max-width: 768px) {
    .main_visual .itm .slg {
        padding: 0 16px;
    }

    .main_visual .br_pc {
        display: none;
    }

    .main_visual .br_m {
        display: block;
    }

    .main_visual_nav {
        padding: 0 16px;
    }

    .main_visual .itm01 {
        background: url(../images/main_visual_slide01.jpg)no-repeat 70% center/cover;
    }

    .main_visual_nav .page_num {
        gap: 8px;
    }

    .main_visual_nav .nav_line {
        max-width: 160px;
    }

    .main_visual_nav .page_num span {
        min-width: 18px;
        font-size: 14px;
        line-height: 14px;
    }
}

@media(max-width: 480px) {
    .main_visual .itm .slg {
        top: 70%;
    }

    .main_visual .itm .slg strong {
        margin: 0 0 16px 0;
        font-size: 24px;
        line-height: 32px;
    }

    .main_visual .itm .slg p {
        font-size: 14px;
        line-height: 14px;
    }

    .main_visual_nav {
        top: calc(70% + 94px);
    }
}

/* 메인 미디어 */
.main_media {
    position: relative;
}

.main_media::before {
    /* content: ''; */
    position: absolute;
    left: 0;
    bottom: 0;
    width: 40%;
    height: 100%;
    background: #f9f9f9;

    /* opacity: 0.02; */

    border-radius: 0 0 120px 0;
}

.main_media .inner_media {
    position: relative;
    margin: 0 0 0 auto;
    max-width: calc((100% - 1530px) / 2 + 1530px);

    display: flex;
    justify-content: center;
    gap: 60px;
}

.main_media .left .top {}

.main_media .left .tit {
    margin: auto 0;
}

.main_media .left .more_p_btn {
    margin: unset;
}

.main_media .left .bottom {}

.main_media .main_media_nav {
    margin: 0 0 40px 0;
}

.main_media .right {
    overflow: hidden;
}

.main_media .main_media_slide_box .itm {
    max-width: 480px;
}

.main_media .main_media_slide_box .itm .img_box {
    position: relative;
    overflow: hidden;

}

.main_media .main_media_slide_box .itm .img_box img {
    transition: 0.3s;
}

.main_media .main_media_slide_box .itm .img_box::before {
    content: '';
    z-index: 9;
    position: absolute;
    inset: 0 0 0 0;
    border: 1px solid var(--line-color);
}

.main_media .main_media_slide_box .itm .main_media_tit {
    padding: 16px 0 0 0;
}

.main_media .main_media_slide_box .itm .main_media_tit strong {
    display: block;
    padding: 0 0 16px 0;
    max-width: 480px;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px solid var(--line-color);
}

.main_media .main_media_slide_box .itm .main_media_tit .txt_box {
    padding: 16px 0 0 0;
}

.main_media .main_media_slide_box .itm .main_media_tit .txt_box .date {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #999;
}

.main_media .main_media_slide_box .itm .more_btn {
    position: absolute;
    bottom: 1px;
    right: 0;
    transition: 0.3s;
}

.main_media .main_media_slide_box .itm:hover .img_box img {
    transform: scale(1.1);
    transition: 0.3s;
}

.main_media .main_media_slide_box .itm:hover .more_btn {
    transform: translate(0, -2px);
    transition: 0.3s;
}

.main_media .main_media_slide_box .itm:hover .more_btn p {
    color: var(--pri-color);
    border-bottom: 1px solid var(--pri-color);
    transition: 0.3s;
}

@media(max-width: 1690px) {
    .main_media .inner_media {
        padding: 0 0 0 40px;
    }
}

@media (max-width: 1024px) {
    .main_media .main_media_slide_box .itm {
        max-width: 320px;
    }

    .main_media .main_media_slide_box .itm .main_media_tit strong {
        font-size: 18px;
        line-height: 18px;
    }
}

@media(max-width: 768px) {
    .main_media {
        padding: 60px 0 100px 0;
    }

    .main_media .inner_media {
        padding: 0 16px;
    }

    .main_media .inner_media {
        gap: 24px;
        flex-direction: column;
    }

    .main_media .left .tit {
        margin: 0 auto;
    }

    .main_media .main_media_nav {
        display: none;
    }

    .main_media .left .bottom {
        position: absolute;
        bottom: -64px;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .main_media .main_media_slide_box .itm .main_media_tit strong {
        font-size: 16px;
        line-height: 16px;
    }

    .main_media .main_media_slide_box .itm .main_media_tit .txt_box .date {
        font-size: 14px;
    }
}


@media(max-width: 480px) {
    .main_media .main_media_slide_box .itm {
        max-width: unset;
    }
}



/* 메인 노티스 */

.main_notice {
    overflow: hidden;
    background: #f9f9f9;
}

.main_notice .top {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.main_notice .notice_tab_box>ul {
    display: flex;
    align-items: center;
    gap: 15px;
}

.main_notice .notice_tab_box>ul>li>button {
    display: block;
    font-size: 16px;
    font-weight: 700;
    line-height: 38px;
    color: #999;
    width: 80px;
    border: 1px solid var(--line-color);
    transition: 0.3s;
}

.main_notice .notice_tab_box>ul>li:hover>button {
    transition: 0.3s;
    color: var(--white-color);
    border: 1px solid var(--pri-color);
    background: var(--pri-color);
}

.main_notice .notice_tab_box>ul>li.on>button {
    color: var(--white-color);
    border: 1px solid var(--pri-color);
    background: var(--pri-color);
}

.main_notice .bottom {}

.main_notice .main_notice_tab_box {
    position: relative;
}

.main_notice .notice_tab {
    display: none;
}

.main_notice .notice_tab.on {
    display: block;
    animation: tab_ani 1s ease backwards;
}

@keyframes tab_ani {
    0% {
        opacity: 0;
        transform: translate(0, 30px);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

.main_notice .notice_itm_box {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0 0 40px 0;
}

.main_notice .notice_itm_box>li {
    position: relative;
    width: calc((100% - 60px) / 3);
    background: var(--white-color);
}

.main_notice .notice_itm_box>li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 1px;
    background: var(--pri-color);
    transition: 0.2s 0.2s;
}

.main_notice .notice_itm_box>li:hover::before {
    width: 100%;
    height: 1px;
    transition: 0.2s;
}

.main_notice .notice_itm_box>li::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 0;
    background: var(--pri-color);
    transition: 0.2s;
}

.main_notice .notice_itm_box>li:hover::after {
    width: 1px;
    height: 100%;
    transition: 0.2s 0.2s;
}

.main_notice .notice_itm_box .itm>a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px;
    height: 240px;
    border: 1px solid var(--line-color);
    transition: 0.3s;
}

.main_notice .notice_itm_box .itm>a::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 1px;
    background: var(--pri-color);
    transition: 0.2s 0.2s;
}

.main_notice .notice_itm_box>li:hover>a::before {
    width: 100%;
    height: 1px;
    transition: 0.2s;
}

.main_notice .notice_itm_box .itm>a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1px;
    height: 0;
    background: var(--pri-color);
    transition: 0.2s;
}

.main_notice .notice_itm_box>li:hover>a::after {
    width: 1px;
    height: 100%;
    transition: 0.2s 0.2s;
}

.main_notice .notice_itm_box .itm .notice_tit strong {
    display: block;
    margin: 0 0 24px 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    word-break: keep-all;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.main_notice .notice_itm_box .itm .notice_content {
    font-size: 16px;
    line-height: 16px;
    font-weight: 300;
    word-break: break-all;
    color: #666;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.main_notice .notice_itm_box .itm .txt_box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 20px;
}

.main_notice .notice_itm_box .itm .txt_box::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    width: 70px;
    height: 80px;
    bottom: 0;
    right: 0;
    background: url(../images/main_notice_icon.svg)no-repeat center center/cover;
}

.main_notice .notice_itm_box .itm .txt_box span {
    position: relative;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    color: #999;
}

.main_notice .notice_itm_box .itm .txt_box span~span::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -10px;
    transform: translate(0, -50%);
    width: 1px;
    height: 10px;
    background-color: #999;
}

.main_notice .main_notice_tab_box .more_p_btn {
    margin: 0 auto;
}

@media(max-width: 1440px) {
    .main_notice .notice_itm_box>li {
        width: calc((100% - 30px) / 2);
    }

    .main_notice .notice_itm_box .itm>a {
        height: 210px;
    }
}

@media(max-width: 1024px) {
    .main_notice .notice_itm_box .itm>a {
        height: 160px;
    }

    .main_notice .notice_tab_box>ul>li>button {
        font-size: 14px;
    }

    .main_notice .notice_itm_box .itm .notice_tit strong {
        margin: 0 0 16px 0;
        font-size: 16px;
        line-height: 16px;
    }

    .main_notice .notice_itm_box .itm .notice_content {
        font-size: 14px;
        line-height: 14px;
    }

    .main_notice .notice_itm_box .itm .txt_box span {
        font-size: 14px;
        line-height: 14px;
    }

    .main_notice .notice_itm_box .itm .txt_box::before {
        width: 49px;
        height: 56px;
    }
}

@media(max-width: 768px) {

    .main_notice .top {
        display: flex;
        flex-direction: column;
    }

    .main_notice .notice_itm_box {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .main_notice .notice_itm_box>li {
        width: 100%;
    }

    .main_notice .notice_tab_box {
        width: 100%;
        margin: 0 0 16px 0;
    }

    .main_notice .notice_tab_box>ul {
        gap: 0;
    }

    .main_notice .notice_tab_box>ul>li {
        width: 100%;
    }

    .main_notice .notice_tab_box>ul>li>button {
        width: 100%;
        display: block;
    }

}

/* 메인 포커스 */
.main_focus {
    position: relative;
    /* background: url(../images/main_focus_bg.jpg)no-repeat center center/cover; */
}

.main_focus::before {
    /* content: ''; */
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
    width: 40%;
    height: 100%;
    background: #f9f9f9;

    /* opacity: 0.02; */

    border-radius: 0 0 120px 0;
}

.main_focus .inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

.main_focus .inner .main_focus_nav {
    margin: 0 0 40px 0;
}

.main_focus .main_focus_slide_box .itm {
    position: relative;
    border: 1px solid var(--line-color);
}


.main_focus .main_focus_slide_box .itm>a {
    display: flex;
    justify-content: center;
    height: 100%;
    background: var(--white-color);
}

.main_focus .main_focus_slide_box .itm>a>* {
    flex: 1;
}

.main_focus .main_focus_slide_box .itm .img_box {
    position: relative;
    height: 100%;
}

.main_focus .main_focus_slide_box .itm .img_box img {
    height: 100%;
    object-fit: cover;
}

.main_focus .main_focus_slide_box .itm .img_box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background: var(--line-color)
}

.main_focus .main_focus_slide_box .itm .main_focus_tit {
    position: relative;
    display: flex;
    flex-direction: column;
    order: -1;
    /* padding: 24px; */
}

.main_focus .main_focus_slide_box .itm .main_focus_tit strong {
    position: absolute;
    top: 24px;
    left: 24px;
    right: 24px;

    display: block;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    word-break: keep-all;
    color: #333;
}

.main_focus .main_focus_slide_box .itm .main_focus_tit .more_btn {
    position: absolute;
    bottom: 24px;
    left: 24px;
    transition: 0.3s;
}

.main_focus .main_focus_slide_box .itm:hover .main_focus_tit .more_btn {
    transform: translate(0, -4px);
    transition: 0.3s;
}

.main_focus .main_focus_slide_box .itm:hover .main_focus_tit .more_btn p {
    border-bottom: 1px solid var(--pri-color);
    color: var(--pri-color);
    transition: 0.3s;
}

@media(max-width: 1024px) {

    .main_focus .main_focus_slide_box .itm {
        border: none;
    }

    .main_focus .main_focus_slide_box .itm>a {
        flex-direction: column;
    }

    .main_focus .main_focus_slide_box .itm>a>* {
        flex: unset;
    }

    .main_focus .main_focus_slide_box .itm .main_focus_tit {
        padding: 16px;
        order: unset;
        border: 1px solid var(--line-color);
        border-top: none;
    }

    .main_focus .main_focus_slide_box .itm .main_focus_tit strong {
        max-width: 240px;
        position: static;
        font-size: 16px;
        line-height: 24px;
        word-break: keep-all;
        text-align: center;
        margin: 0 auto;
    }

    .main_focus .main_focus_slide_box .itm .main_focus_tit .more_btn {
        display: none;
        position: static;
        margin: 0 0 0 auto;
    }

    .main_focus .main_focus_slide_box .itm .img_box::before {
        content: none;
    }
}

@media(max-width: 768px) {
    .main_focus {
        padding: 60px 0 100px 0;
    }

    .main_focus .inner {
        display: block;
        flex-direction: column;
    }

    .main_focus .left .bottom {
        position: absolute;
        bottom: -64px;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .main_focus .inner .main_focus_nav {
        display: none;
    }


    .main_focus_slide_box {
        overflow: hidden;
    }

    .main_focus .main_focus_slide_box .itm .img_box img {
        height: unset;
    }

}

/* 메인 명예의 전당 */
.main_honor {
    background: url(../images/main_honor_bg.jpg)no-repeat center center/cover;
}

.main_honor .tit h2 {
    margin: 0 0 16px 0;
    text-align: center;
    color: var(--white-color);
}

.main_honor .tit p {
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    color: var(--white-color);
}

@media(max-width: 768px) {
    .main_honor .tit p {
        font-size: 14px;
        line-height: 22px;
    }
}

/* 메인 SNS */
.main_sns {}

.main_sns .inner {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.main_sns .left .link_box>ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.main_sns .left .link_box>ul>li>a {
    position: relative;
    display: inline-block;
    padding: 0 21px 0 0;
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    font-family: "Montserrat";
    color: var(--line-color);
    text-transform: uppercase;
    transition: 0.3s;
}

.main_sns .left .link_box>ul>li>a::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 12px;
    height: 20px;
    transform: translate(0, -50%);
    background: url(../images/arrow_next_b.svg)no-repeat center right/8px;
    transition: 0.3s;
}

.main_sns .left .link_box>ul>li:hover>a {
    color: var(--pri-color);
    transition: 0.3s;
}

.main_sns .left .link_box>ul>li:hover>a::after {
    background: url(../images/arrow_next_p.svg)no-repeat center right/8px;
    transition: 0.3s;
}

.main_sns .right .main_sns_itm_list {
    width: 100%;
    display: flex;
    gap: 30px;
}

.main_sns .right .main_sns_itm_list .itm {

    box-shadow: 0 0 16px 2px rgba(0, 0, 0, 0.1);
}

.main_sns .right .main_sns_itm_list .itm .img_box {
    overflow: hidden;
}

.main_sns .right .main_sns_itm_list .itm img {
    transition: 0.5s;
}

.main_sns .right .main_sns_itm_list .itm:hover img {
    transform: scale(1.05);
    transition: 0.5s;
}

.main_sns .right .main_sns_itm_list .itm>a {
    display: flex;
    flex-direction: column;
}

.main_sns .right .main_sns_itm_list .itm .txt_box {
    padding: 24px 0;
    text-align: center;
    background: var(--white-color);
}

.main_sns .right .main_sns_itm_list .itm .txt_box strong {
    display: block;
    margin: 0 0 16px 0;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: var(--black-color);
}

.main_sns .right .main_sns_itm_list .itm .txt_box p {
    font-size: 14px;
    line-height: 14px;
    font-weight: 300;
    color: #444;
}

@media(max-width: 1024px) {
    .main_sns .inner {
        flex-direction: column;
        gap: 30px;
    }

    .main_sns .inner .left {
        flex-direction: unset;
        flex: unset;
    }

    .main_sns .inner .left .tit {
        margin: 0;
    }

    .main_sns .left .link_box>ul>li>a {
        display: block;
        text-align: right;
        font-size: 16px;
        line-height: 16px;
    }
}

@media(max-width: 768px) {
    .main_sns .link_box {
        display: none;
    }



    .main_sns .right .main_sns_itm_list .itm .txt_box {
        padding: 16px 0;
    }

    .main_sns .right .main_sns_itm_list .itm .txt_box strong {
        font-size: 16px;
        line-height: 16px;
    }
}

@media(max-width: 650px) {
    .main_sns .right .main_sns_itm_list {
        flex-direction: column;
    }
}

/* 메인 카운트 */

.main_count {
    position: relative;
    overflow: hidden;
    background: url(../images/main_count_bg.jpg)no-repeat center center/cover;
}

.main_count::before {
    content: '';
    position: absolute;
    inset: 0 0 0 0;
}

.main_count .inner {
    position: relative;
    z-index: 9;
    border-radius: 24px;
}

.main_count .tit h2 {
    margin: 0 0 16px 0;
    text-align: center;
    color: var(--white-color);
}

.main_count .tit p {
    text-align: center;
    color: var(--white-color);
}

.main_count .count_box>ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main_count .count_box>ul>li {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    width: 100%;
}

.main_count .count_box>ul>li>* {
    flex: 1;
}

.main_count .count_box>ul>li~li::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 1px;
    height: 80px;
    opacity: 0.2;
    background: var(--white-color);
    transform: translate(0, -50%);
}

.main_count .count_box>ul>li .count {
    font-size: 48px;
    line-height: 48px;
    color: var(--white-color);
    font-weight: 700;
    font-family: "Cinzel";
    font-style: italic;
    color: var(--white-color);
}

.main_count .count_box>ul>li .txt_box {
    font-size: 16px;
    line-height: 16px;
    font-weight: 300;
    color: var(--line-color);
}

@media(max-width: 1400px) {
    .main_count .count_box>ul>li .count {
        font-size: 40px;

    }
}

@media(max-width: 1024px) {
    .main_count .count_box>ul>li .count {
        font-size: 32px;

    }

    .main_count .count_box>ul>li~li::before {
        height: 48px;
        opacity: 0.1;
    }
}

@media(max-width: 768px) {
    .main_count .count_box>ul>li .txt_box {
        font-size: 14px;
    }

    .main_count .count_box>ul>li .count {
        font-size: 20px;
        line-height: 20px;
    }

    .main_count .count_box>ul>li~li::before {
        content: none;
    }
}

@media(max-width: 480px) {
    .main_count .count_box>ul>li .txt_box {
        font-size: 12px;
    }

    .main_count .count_box>ul>li {
        gap: 16px;
    }

    .main_count .count_box>ul>li .count {
        font-size: 16px;
        line-height: 16px;
    }


}


/* 푸터 */

#footer {
    background: var(--black-color);
}

#footer .inner {}

#footer .inner .ft {
    padding: 40px 0;
}

#footer .inner .ft_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#footer .inner .ft_top>ul {
    display: flex;
    align-items: center;
    gap: 40px;
}

#footer .inner .ft_top>ul .b>a {
    font-size: 16px;
    font-weight: 700;
    color: var(--white-color);
}

#footer .inner .ft_top>ul>li {
    position: relative;
}

#footer .inner .ft_top>ul>li~li::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translate(-50%, -32%);
    width: 1px;
    height: 10px;
    background: var(--line-color);
}

#footer .inner .ft_top>ul>li>a {
    font-size: 14px;
    font-weight: 300;
    color: var(--line-color);
}

#footer .inner .ft_bottom {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: end;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

#footer .inner .ft_bottom address {
    font-size: 14px;
    font-weight: 300;
    color: #ccc;
}

#footer .inner .ft_bottom .right>ul {
    display: flex;
    align-items: baseline;
    flex-direction: column;
    gap: 8px;
    margin: 0 0 24px 0;
}

#footer .inner .ft_bottom .right>ul>li {
    position: relative;
}

#footer .inner .ft_bottom .right>ul>li>a {
    font-size: 14px;
    font-weight: 300;
    color: #ccc;
}

#footer .link_box {
    position: relative;
}

#footer .link {
    display: flex;
    gap: 16px;
}

#footer .link .f_link {
    position: relative;
    padding: 0 16px;
    width: 210px;
    height: 48px;
    font-size: 16px;
    text-align: left;
    color: var(--line-color);
    text-transform: uppercase;
    background: #333;
}

#footer .link .f_link::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 16px;

    transform: translate(0, -50%) rotate(90deg);

    width: 12px;
    height: 20px;
    background: url(../images/arrow_prev_b.svg) no-repeat center center / 8px;
}

#footer .link_box.on .f_link::after {
    transform: translate(0, -50%) rotate(270deg);
}

#footer .link ul {
    display: none;
    border: 1px solid #ddd;
    height: 200px;
    overflow-y: auto;
    margin-top: -1px;
    z-index: 9;
    position: absolute;
    bottom: 48px;
    width: 100%;
}

#footer .link_box.on ul {
    display: block;
}

#footer .link_box.on ul>li>a {
    display: block;
    padding: 0 24px;
    font-size: 14px;
    line-height: 40px;
    color: #ccc;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#footer .link .f_link+ul li {
    background: #444;
}

@media(max-width: 1024px) {
    #footer .inner .ft_bottom {
        align-items: baseline;
        flex-direction: column;
        gap: 24px;
    }
}

@media(max-width: 768px) {
    #footer .inner .ft {
        padding: 20px 0;
    }

    #footer .inner .ft_top>ul .b>a {
        font-size: 14px;
    }

    #footer .inner .ft_top>ul {
        flex-direction: column;
        gap: 16px;
        align-items: baseline;
    }

    #footer .inner .ft_top>ul>li~li::before {
        content: none;
    }

    #footer .inner .ft_bottom .right>ul {
        margin: 0 0 16px 0;
    }

    #footer .inner .ft_bottom .right>ul>li>a {
        font-size: 12px;
    }

    #footer .inner .ft_bottom address {
        font-size: 12px;
    }

    #footer .link {
        width: 100%;
    }

    #footer .link>* {
        flex: 1;
    }

    #footer .link .f_link {
        width: 100%;
        font-size: 14px;
        height: 40px;
    }
}