:root {
    --pri-color: #A40F16;
    --pri02-color: #0D326F;
    --pri03-color: #C0A353;
    --white-color: #ffffff;
    --black-color: #222222;
    --black-sub-color: #444444;
    --line-color: #dddddd;
}

* {
    /* outline: 1px solid #000; */
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: transparent;
    border-bottom: 1px solid transparent;

    z-index: 99999;

    display: flex;
    flex-direction: column;

    transition: 0.3s;
}

/* 헤더 top */
#header_top {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

#header_top .inner>ul {
    display: flex;
    justify-content: end;
    gap: 20px;
}

#header_top .inner>ul>li>a {
    display: block;
    font-size: 14px;
    line-height: 40px;
    font-weight: 300;
    color: var(--white-color);
}

/* 헤더 bottom */
#header_bottom {
    position: relative;
}

#header_bottom>.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header_bottom .logo>h1>a {
    display: block;
    text-indent: -9999px;
    width: 200px;
    height: 48px;
    background: url(../images/logo_w.svg)no-repeat center center/cover;
}

#header_bottom .gnb>ul {
    display: flex;
    justify-content: center;
}

#header_bottom .gnb>ul>li>a {
    position: relative;
    display: block;
    font-size: 18px;
    font-weight: 700;
    line-height: 100px;
    padding: 0 30px;
    color: var(--white-color);
}

#header_bottom .gnb>ul>li>a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 0;
    height: 4px;
    background: var(--pri-color);
}

#header_bottom .sub_box {
    display: none;

    position: absolute;
    top: 100px;
    left: 0;
    right: 0;

    min-height: 326px;

    background: var(--white-color);
}

#header_bottom .sub_box::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    border-right: 1px solid #ddd;
}

#header_bottom .sub_box::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #ddd;
}

#header_bottom .sub_box .sub_tit {
    position: relative;
    min-width: 400px;
    background: var(--pri-color);
}

#header_bottom .sub_box .sub_tit::before {
    content: '';
    position: absolute;
    width: 200.5px;
    height: 180px;
    bottom: 24px;
    right: 24px;
    opacity: 0.3;
    background: url(../images/sub_tit_bg.svg)no-repeat center center/cover;
}

#header_bottom .sub_box .sub_tit .txt_box {
    position: absolute;
    top: 24px;
    left: 50%;
    width: 100%;
    padding: 0 24px;
    transform: translate(-50%, 0);
}


#header_bottom .sub_box .sub_tit strong {
    display: block;
    padding: 0 0 16px 0;
    font-size: 32px;
    line-height: 32px;
    font-weight: 800;
    color: #fff;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
}

#header_bottom .sub_box .sub_tit p {
    padding: 16px 0 0 0;
    white-space: nowrap;
    font-weight: 300;
    font-size: 16px;
    line-height: 16px;
    color: #fff;
}

#header_bottom .sub_box .sub {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    border-top: 1px solid var(--line-color);
}

#header_bottom .sub_box .sub_wrap {
    display: flex;
}

#header_bottom .sub_box .sub_wrap>* {
    flex: 1;
}

#header_bottom .sub_box .sub>li {
    padding: 24px;

    border-right: 1px solid var(--line-color);
    border-bottom: 1px solid var(--line-color);
}

#header_bottom .sub_box .sub>li>a {
    display: block;
    margin: 0 0 16px 0;
    font-size: 18px;
    font-weight: 700;
    color: #333;
    transition: 0.3s;
}

#header_bottom .sub_list>li>a {
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #666;
    transition: 0.3s;
}



#header_bottom .sub_list_wrap {
    display: flex;
    flex-wrap: wrap;
}

#header_bottom .sub_list_wrap>li {
    width: 33.3%;
}



/* 헤더 bottom util */

#header_bottom .util>ul {
    display: flex;
    align-items: center;
    gap: 20px;
}

#header_bottom .util>ul>li>a {
    display: block;
    width: 32px;
    height: 32px;
    text-indent: -9999px;
}

#header_bottom .util>ul>li>.lan {
    background: url(../images/util_lan.svg)no-repeat center center/cover;
}

#header_bottom .util>ul>li>.search {
    background: url(../images/util_search.svg)no-repeat center center/cover;
}

#header_bottom .util>ul>li>.menu {
    background: url(../images/util_menu.svg)no-repeat center center/cover;
}


/* 헤더 on */

#header.on {
    top: -41px;
    background: var(--white-color);
    border-bottom: 1px solid var(--line-color);

    transition: 0.3s;
}

#header.on #header_bottom .logo>h1>a {
    background: url(../images/logo_p.svg)no-repeat center center/cover;
}

#header.on #header_bottom .gnb>ul>li>a {
    line-height: 80px;
    color: var(--black-color);
}

#header.on #header_bottom .util>ul>li>a {
    filter: invert(1);
}

@media(max-width: 1500px) {
    #header_bottom .sub_box .sub_tit {
        min-width: 350px;
    }
}

/* PC 메뉴 hover 관련 */
@media(min-width: 1400px) {

    #header:hover {
        background: var(--white-color);
        border-bottom: 1px solid var(--line-color);

        transition: 0.3s;
    }

    #header:hover #header_top {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    #header:hover #header_top .inner>ul>li>a {
        font-weight: 500;
        color: var(--black-color);
    }

    #header:hover #header_bottom .logo>h1>a {
        background: url(../images/logo_p.svg)no-repeat center center/cover;
    }

    #header:hover #header_bottom .gnb>ul>li>a {
        color: var(--black-color);
    }

    #header:hover #header_bottom .util>ul>li>a {
        filter: invert(1);
    }

    #header_bottom .gnb>ul>li:hover>a::before {
        width: calc(100% - 60px);
        transition: 0.3s;
    }

    #header_bottom .gnb>ul>li:hover .sub_box {
        display: flex;
    }

    #header.on #header_bottom .gnb>ul>li .sub_box {
        top: 80px;
    }

    #header_bottom .sub_box .sub>li>a:hover {
        color: var(--pri-color);
        transform: translate(0, -2px);
        transition: 0.3s;
    }

    #header_bottom .sub_list>li>a:hover {
        color: var(--pri-color);
        font-weight: 500;
        transform: translate(0, -1px);
        transition: 0.3s;
    }

}


/* 메인 비주얼 */
.main_visual {
    position: relative;
}

.main_visual .itm {
    position: relative;
    height: 100vh;
}

.main_visual .itm .slg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1530px;
    width: 100%;
}

.main_visual .itm .slg strong {
    display: block;
    font-size: 48px;
    line-height: 56px;
    font-weight: 700;
    color: var(--white-color);
    text-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
}

.main_visual .itm01 {
    background: url(../images/main_visual_slide01.jpg)no-repeat center center/cover;
}

.main_visual .itm02 {
    background: url(../images/main_visual_slide01.jpg)no-repeat bottom center/cover;
    background: #999;
}

.main_visual .itm03 {
    background: url(../images/main_visual_slide01.jpg)no-repeat bottom center/cover;
    background: #666;
}

.main_visual .itm04 {
    background: url(../images/main_visual_slide01.jpg)no-repeat bottom center/cover;
    background: #333;
}

/* 메인 비주얼 네비게이션 */
.main_visual_nav {
    position: absolute;
    z-index: 9;
    top: calc(50% + 112px);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1530px;
    height: 18px;

    display: flex;
    align-items: center;
}

.main_visual_nav .page_num {
    display: flex;
    align-items: center;
    gap: 24px;
}

.main_visual_nav .page_num span {
    display: block;
    min-width: 24px;
    text-align: left;
    font-size: 18px;
    line-height: 18px;
    color: var(--white-color);
}

.main_visual_nav .nav_line {
    position: static !important;
    width: 240px;
    height: 2px;
    background: rgba(255, 255, 255, 0.5);
}

.main_visual_nav .nav_line .swiper-pagination-progressbar-fill {
    background: var(--white-color);
}

.main_visual_nav .arrow_box {
    margin: 0 0 0 16px;
    gap: 32px;
}

.main_visual_nav .arrow_box button {
    position: relative;
    width: 10px;
    height: 18px;
    text-indent: -9999px;
}

.main_visual_nav .arrow_box>button::before {
    content: none;
}

.main_visual_nav .arrow_box .arrow_prev {
    background: url(../images/main_slide_prev.svg)no-repeat center center/cover;
}

.main_visual_nav .arrow_box .arrow_next {
    background: url(../images/main_slide_next.svg)no-repeat center center/cover;
}

/* 메인 비주얼 스크롤 */
.main_visual .scroll {
    position: absolute;
    bottom: 4rem;
    left: 50%;
    transform: translate(-50%, 50px);
    text-align: center;
    z-index: 9;
    transition: 800ms;
}

.main_visual .scroll .scroll_ani {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 8px 0;
}

.main_visual .scroll .scroll_ani span {
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #fff;
    margin: 0 3.5px;
    animation: upDown 1.5s ease-in-out infinite;
    opacity: 0;
}

.main_visual .scroll .scroll_ani span:nth-child(1) {
    animation-delay: 0.3s;
}

.main_visual .scroll .scroll_ani span:nth-child(2) {
    animation-delay: 0.5s;
}

.main_visual .scroll .scroll_ani span:nth-child(3) {
    animation-delay: 0.7s;
}

.main_visual .scroll .txt {
    font-size: 8px;
    line-height: 8px;
    font-weight: 700;
    color: var(--white-color);
}

@keyframes upDown {
    0% {
        opacity: 0;
        transform: translateY(-15px);
    }

    70% {
        opacity: 1;
        transform: translateY(18px);
    }

    100% {
        opacity: 1;
        transform: translateY(18px);
    }
}

/* 메인 포커스 */
.main_focus {
    background: url(../images/main_focus_bg.jpg)no-repeat center center/cover;
}

.main_focus .inner {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.main_focus .inner>.tit {
    flex: 1 0 260px;
}

.main_focus .main_focus_slide_box .itm {
    position: relative;
    height: 240px;
    border: 1px solid var(--line-color);
}

.main_focus .main_focus_slide_box .itm>a {
    display: flex;
    justify-content: center;
    height: 100%;
    background: var(--white-color);
}

.main_focus .main_focus_slide_box .itm>a>* {
    flex: 1;
}

.main_focus .main_focus_slide_box .itm .img_box {
    position: relative;
    height: 100%;
}

.main_focus .main_focus_slide_box .itm .img_box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background: var(--line-color)
}

.main_focus .main_focus_slide_box .itm .main_focus_tit {
    position: relative;
    display: flex;
    flex-direction: column;
    order: -1;
    /* padding: 24px; */
}

.main_focus .main_focus_slide_box .itm .main_focus_tit strong {
    position: absolute;
    top: 24px;
    left: 24px;
    right: 24px;

    display: block;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    word-break: keep-all;
    color: #333;
}

.main_focus .main_focus_slide_box .itm .main_focus_tit .more_btn {
    position: absolute;
    bottom: 24px;
    left: 24px;
    transition: 0.3s;
}

.main_focus .main_focus_slide_box .itm:hover .main_focus_tit .more_btn {
    transform: translate(0, -4px);
    transition: 0.3s;
}

.main_focus .main_focus_nav {
    position: absolute;
    left: 0;
    bottom: 0;
}

/* 메인 노티스 */

.main_notice {
    overflow: hidden;
}

.main_notice .top {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.main_notice .notice_tab_box>ul {
    display: flex;
    align-items: center;
    gap: 15px;
}

.main_notice .notice_tab_box>ul>li>button {
    display: block;
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    color: #999;
    width: 72px;
    border: 1px solid var(--line-color);
    transition: 0.5s;
}

.main_notice .notice_tab_box>ul>li:hover>button {
    transition: 0.5s;
    color: var(--white-color);
    border: 1px solid var(--pri-color);
    background: var(--pri-color);
}

.main_notice .notice_tab_box>ul>li.on>button {
    color: var(--white-color);
    border: 1px solid var(--pri-color);
    background: var(--pri-color);
}

.main_notice .bottom {}

.main_notice .main_notice_tab_box {
    position: relative;
}

.main_notice .notice_tab {
    display: none;
}

.main_notice .notice_tab.on {
    display: block;
    animation: tab_ani 1s ease backwards;
}

@keyframes tab_ani {
    0% {
        opacity: 0;
        transform: translate(0, 30px);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

.main_notice .notice_itm_box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 0 0 40px 0;
}

.main_notice .notice_itm_box>li {
    position: relative;
}

.main_notice .notice_itm_box>li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 1px;
    background: var(--pri-color);
    transition: 0.2s 0.2s;
}

.main_notice .notice_itm_box>li:hover::before {
    width: 100%;
    height: 1px;
    transition: 0.2s;
}

.main_notice .notice_itm_box>li::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 0;
    background: var(--pri-color);
    transition: 0.2s;
}

.main_notice .notice_itm_box>li:hover::after {
    width: 1px;
    height: 100%;
    transition: 0.2s 0.2s;
}

.main_notice .notice_itm_box .itm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px;
    height: 240px;
    border: 1px solid var(--line-color);
    transition: 0.3s;
}

.main_notice .notice_itm_box .itm::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 1px;
    background: var(--pri-color);
    transition: 0.2s 0.2s;
}

.main_notice .notice_itm_box>li:hover .itm::before {
    width: 100%;
    height: 1px;
    transition: 0.2s;
}

.main_notice .notice_itm_box .itm::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1px;
    height: 0;
    background: var(--pri-color);
    transition: 0.2s;
}

.main_notice .notice_itm_box>li:hover .itm::after {
    width: 1px;
    height: 100%;
    transition: 0.2s 0.2s;
}

.main_notice .notice_itm_box .itm .notice_tit strong {
    display: block;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    word-break: keep-all;
}

.main_notice .notice_itm_box .itm .txt_box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 20px;
}

.main_notice .notice_itm_box .itm .txt_box::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    width: 70px;
    height: 80px;
    bottom: 0;
    right: 0;
    background: url(../images/main_notice_icon.svg)no-repeat center center/cover;
}

.main_notice .notice_itm_box .itm .txt_box span {
    position: relative;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    color: #999;
}

.main_notice .notice_itm_box .itm .txt_box span~span::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -10px;
    transform: translate(0, -50%);
    width: 1px;
    height: 10px;
    background-color: #999;
}

/* 메인 명예의 전당 */
.main_honor {
    background: url(../images/main_honor_bg.jpg)no-repeat center center/cover;
}

.main_honor .tit h2 {
    margin: 0 0 16px 0;
    text-align: center;
    color: var(--white-color);
}

.main_honor .tit p {
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    color: var(--white-color);
}

/* 메인 연구성과 */
.main_research {
    background: #f9f9f9;
}

.main_research .inner_research {
    position: relative;
    display: flex;
    margin: 0 0 0 auto;
    max-width: calc((100% - 1530px) / 2 + 1530px);
}

.main_research .tit {
    flex: 1 0 260px;
}

.main_research .main_research_nav {
    position: absolute;
    bottom: 0;
    left: 0;
}

.main_research .main_research_slide_box {
    padding: 16px 0;
}

.main_research .main_research_slide_box .itm {
    max-width: 490px;
    box-shadow: 12px 8px 12px 0px rgba(0, 0, 0, 0.05);
}

.main_research .main_research_slide_box .itm .main_focus_tit {
    padding: 16px;
    background: #fff;
}

.main_research .main_research_slide_box .itm .main_focus_tit strong {
    display: block;
    padding: 0 0 16px 0;
    max-width: 490px;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #333;
}

.main_research .main_research_slide_box .itm .main_focus_tit .txt_box {
    padding: 16px 0 0 0;
}

.main_research .main_research_slide_box .itm .main_focus_tit .txt_box .date {
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    color: #999;
}

.main_research .main_research_slide_box .itm .more_btn {
    position: absolute;
    bottom: 16px;
    right: 16px;
    transition: 0.3s;
}

.main_research .main_research_slide_box .itm:hover .more_btn {
    transform: translate(0, -2px);
    transition: 0.3s;
}

/* 푸터 */

#footer {
    background: var(--black-color);
}

#footer .inner {}

#footer .inner .ft {
    padding: 40px 0;
}

#footer .inner .ft_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#footer .inner .ft_top>ul {
    display: flex;
    align-items: center;
    gap: 40px;
}

#footer .inner .ft_top>ul .b>a {
    font-size: 16px;
    font-weight: 700;
    color: var(--white-color);
}

#footer .inner .ft_top>ul>li {
    position: relative;
}

#footer .inner .ft_top>ul>li~li::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translate(-50%, -32%);
    width: 1px;
    height: 10px;
    background: var(--line-color);
}

#footer .inner .ft_top>ul>li>a {
    font-size: 14px;
    font-weight: 300;
    color: var(--white-color);
}

#footer .inner .ft_bottom {
    position: relative;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

#footer .inner .ft_bottom address {
    margin: 40px 0 0 0;
    font-size: 14px;
    font-weight: 300;
    color: var(--white-color);
}

#footer .inner .ft_bottom .right>ul {
    display: flex;
    align-items: center;
    gap: 40px;
}

#footer .inner .ft_bottom .right>ul>li {
    position: relative;
}

#footer .inner .ft_bottom .right>ul>li~li::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translate(-50%, -32%);
    width: 1px;
    height: 10px;
    background: var(--line-color);
}

#footer .inner .ft_bottom .right>ul>li>a {
    font-size: 14px;
    font-weight: 300;
    color: var(--white-color);
}

#footer .link {
    position: absolute;
    top: 0;
    right: 0;
}

#footer .link .f_link {
    position: relative;
    width: 18rem;
    height: 4rem;
    color: #fff;
    text-align: left;
    border-bottom: 1px solid #ddd;

    text-transform: uppercase;
}

#footer .link .f_link::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 8px;

    transform: translate(0, -50%);

    width: 8px;
    height: 8px;
    background: url(../images/spr-footer.png) no-repeat 0 0;
}

#footer .link .f_link.on::after {
    background: url(../images/spr-footer.png) no-repeat -8px 0;
}

#footer .link .f_link+ul {
    display: none;
    border: 1px solid #ddd;
    height: 20rem;
    overflow-y: auto;
    margin-top: -1px;

    position: absolute;
    bottom: 64px;
    width: 100%;
}

#footer .link .f_link+ul a {
    display: block;
    line-height: 4rem;
    padding-left: 2.4rem;
    color: var(--white-color);
}

#footer .link .f_link+ul li {
    background: #444;
}
